@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.woff2),
  url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-SemiBold.woff2),
  url(../fonts/OpenSans-SemiBold.woff);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Bold.woff2),
  url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
  src: url(../fonts/Formular-Medium.woff2),
  url(../fonts/Formular-Medium.woff);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Formular';
  src: url(../fonts/Formular-Regular.woff2),
  url(../fonts/Formular-Regular.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}