$colorBlack:#222222;
$colorGreyWhite: #F1F1F1;
$colorWhite:#FFFFFF;
$colorBlueSky:#abc8ea;
$colorGreyWhite2:#d8d8d8;
$colorGreyWhite3: #767676;
$colorGreyWhite4:#A7A7A7;
$colorBlue: #0656B4;
$colorWhiteBlue: #DFE9F5;